body {
    background-color: #333;
    color: aliceblue;
}
a {
    color:rgb(161, 211, 255);
    text-decoration: none;
}
a:hover {
    color:rgb(228, 242, 255);
}
a:visited {
    color:rgb(255, 255, 255);
}
a:active {
    color:rgb(0, 166, 255)
}

ul {
    list-style-type: none;
    overflow: hidden;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #2c2c2c;
    border-radius: 5px;
    max-width: fit-content;
    margin: auto;
    max-width: 1000px;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    div {
        flex-direction: column;
    }
}

#nav {
    background-color: black;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: left;
    max-width: none;
}
#nav ul{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 0;
    overflow: hidden;
}
#nav li{
    padding-right: 5px;
    display: inline;
}
#nav a{
    padding: 5px 16px;
    text-align: center;
    font-size: large;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: inherit;
    margin-left: 5px;
}

.title {
    margin-bottom: 0;
    padding: 0;
}
.subtitle {
    margin-top: 3px;
    padding: 0;
}

.homeHeader {
    display: flex;
    margin-top: 10px;
    padding: 0;
}
.meTitle {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 20px;
}


.meTitle img {
    margin-top: 0;
    padding: 0;
    max-width: 40%;
}


.miniBio {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 70px;
}
.miniBio .title {
    margin-bottom: 0;
    padding: 0;
}
.miniBio .subtitle {
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .meTitle {
        max-width: 100%;
    }
    .miniBio {
        max-width: 100%;
    }
}

.projectList .title{
    margin-left: 10px;
}
.projectList ul{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.hobbies ul{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    margin: 0;
    padding: 5px;
}
/* .hobbies li {
    width: 200%;
    height: auto;
    padding:0;
    margin: 0;
} */
.photography {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .projectList ul{
        grid-template-columns: 100%;
    }
    .hobbies ul {
        grid-template-columns: 100%;
    }
}




